* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 100px;
    z-index: 1;
    position: absolute;

    nav {
        .alldiv {
            width: 81%;
        }

        a {
            p {
                font-size: 25px;
                color: white;

                span {
                    color: #D1002C;
                }
            }
        }

        .menu {
            width: 100%;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: end;

            .list {
                width: 72%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 20px;

                li {
                    .home {
                        color: #D1002C;
                    }

                    a {
                        color: #9E9E9E;

                        &:hover {
                            color: #D1002C;
                        }
                    }
                }
            }
        }
    }
}

#products {
    width: 100%;
    min-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

    .formtitle {
        min-height: 200px;
        width: 100%;
        padding-top: 20px;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.395);
        }
    }
}
@media only screen and (max-width: 782px) {
    footer {
        .footer {
            p  {
                font-size: 13px;
            }
        }
    }
}