* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#products {
    width: 100%;
    // min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .formtitle {
        min-height: 200px;
        width: 100%;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(0, 0, 0, 0.395);
        }
    }
}